@import 'global-slider-styles.scss';
.slider__controls {
    display: flex;
    justify-content: center;
    position: absolute;
    top: calc(100% + 1rem);
    width: 100%;
    
    .btn {
      --size: 3rem;
      z-index: 3;
      
      align-items: center;
      background-color: transparent;
      border: 3px solid transparent;
      border-radius: 100%;
      display: flex;
      height: var(--size);
      padding: 0;
      width: var(--size);
      
      &:focus {
        border-color: var(--color-focus);
        outline: none;
      }
          
      &--previous > * {
        transform: rotate(180deg);
      }
    }
  }