.spinner {
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    margin: auto;
    height: 85%;
    width: 90%;
    border-radius: 50%;
    border-right: 9px solid rgba(255, 255, 255, 0);
    animation: spinning 8s linear infinite;
}
.container {
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin:0;
    z-index: 0;
}
@keyframes spinning {
    0% {
        transform: rotate(0deg);
        border-right: 9px solid rgba(255, 255, 255, 0.6);
    } 
    5% {border-right-color: rgba(255, 255, 255, 0.4)}
    10% {border-right-color: rgba(255, 255, 255, 0.6)}
    15% {border-right-color: rgba(255, 255, 255, 0.8)}
    20% {border-right-color: rgba(255, 255, 255, 0.6)}
    25% {border-right-color: rgba(255, 255, 255, 0.4)}
    30% {border-right-color: rgba(255, 255, 255, 0.6)}
    35% {border-right-color: rgba(255, 255, 255, 0.8)}
    40% {border-right-color: rgba(255, 255, 255, 0.6)}
    45% {border-right-color: rgba(255, 255, 255, 0.4)}
    50% {border-right-color: rgba(255, 255, 255, 0.6)}
    55% {border-right-color: rgba(255, 255, 255, 0.8)}
    60% {border-right-color: rgba(255, 255, 255, 0.6)}
    65% {border-right-color: rgba(255, 255, 255, 0.4)}
    70% {border-right-color: rgba(255, 255, 255, 0.6)}
    75% {border-right-color: rgba(255, 255, 255, 0.8)}
    80% {border-right-color: rgba(255, 255, 255, 0.6)}
    85% {border-right-color: rgba(255, 255, 255, 0.4)}
    90% {border-right-color: rgba(255, 255, 255, 0.6)}
    95% {border-right-color: rgba(255, 255, 255, 0.8)}
    100% {
        transform: rotate(360deg);
        border-right: 9px solid rgba(255, 255, 255, 0.6);
    }
}